body {
  background-image: url("background2.jpg");
  background-repeat: 1;
  background-size: cover;
}

.maindiv {

   background-color: #f2ecec;
   width: 1000px;
   height: 500px;
   margin: 110px auto;
   border: 2px solid #c3c3c3;
   box-shadow: 6px 4px 6px 10px gray;
}

#maintitle {
   height: 125px;
   margin-top: 60px;
   text-align: center;
   font-size: 50px;
   text-shadow: 0px 0px 50px black;
   font-family: Bahnschrift Light;
   color: black;
}


.register {

   background-color: #c6b4ff;
   float: right;
   height: 500px;
   width: 500px;

}


.login {

   background-color: #f2ecec;
   float: left;
   height: 500px;
   width: 500px;

}


.title {

   margin-top: 50px;
   font-size: 45px;
   text-align: center;
   float: left;
   height: 30px;
   width: 500px;
   font-family: Bahnschrift Light;
}

.b {

   margin-top: 157px;
   margin-left: 30px;
   font-family: Bahnschrift Light;
}


.input {

   padding: 8px 20px;

   border: 1px solid #eee;

   border-left: 3px solid;

   border-left-color: salmon;

   border-radius: 5px;

   transition: border-color .8s ease-out;

   font-family: Bahnschrift Light;
}

.button {

   outline: none;

   border: 1px solid #eee;

   border-left: 3px solid #888;

}

.stitched {

   position: relative;
   margin: 19px auto;
   width: 250px;
   background: #fffffa;
   color: #003300;
   font-size: 25px;
   font-weight: bold;
   line-height: 1.3em;
   border: 2px dashed #ff8080;
   border-radius: 6px;
   box-shadow: 0 0 0 4px #ff8080, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
   text-shadow: -1px -1px #aa3030;
   font-weight: normal;
}

.hover:hover {
   cursor: pointer;
   background-color: #ccccff;
   transition: 0.2s;
}

.stitchedreg-container {
   display: flex;
   justify-content: center;
}

.site-logo {
   object-fit: contain;
}

.stitchedreg {


   margin: 20px;
   width: 200px;
   background: #fffffa;
   color: #003300;
   font-size: 25px;
   line-height: 1.3em;
   border: 2px dashed #ff8080;
   border-radius: 6px;
   box-shadow: 0 0 0 4px #ff8080, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
   text-shadow: -1px -1px #aa3030;
   font-weight: normal;

}

img {
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
}

#registertitle {
   text-align: center;
   margin-top: 200px;
   font-family: Bahnschrift Light;
   font-size: 45px;
}


#registerprg {
   text-align: center;
   font-family: Bahnschrift Light;
   font-size: 20px;

}

a {
   text-decoration: none;
   color: black;
  }

#left {
   float: left;
   width: 180px;
   height: 699px;;
  }

#right {
   float: right;
   width: 180px;
   height: 699px;;
  }

#contain {
   float: right;
   margin-right: 60px ;
   font-family: Bahnschrift Light;
   font-size: 19px;   
   
  }


